<div class="container">
  <h1 class="user-form__title">CREATE USER</h1>
  <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="create-user__field">
      <label for="create-user__name" class="create-user__label">Имя</label>
      <input id="create-user__name" class="create-user__input" type="text" placeholder="Введите имя" formControlName="name">
    </div>
    <div class="create-user__field">
      <label for="create-user__login" class="create-user__label">Логин</label>
      <input id="create-user__login" class="create-user__input" type="text" placeholder="Введите логин" formControlName="username">
    </div>
    <div class="create-user__field">
      <label for="create-user__email" class="create-user__label">Эмайл</label>
      <input id="create-user__email" class="create-user__input" type="text" placeholder="Введите эмайл" formControlName="email">
    </div>
    <div class="create-user__field">
      <label for="create-user__tel" class="create-user__label">Номер телефона</label>
      <input id="create-user__tel" class="create-user__input" type="text" placeholder="Введите номер телефона" formControlName="phone">
    </div>
    <div class="create-user__field">
      <label for="create-user__website" class="create-user__label">Веб-сайт</label>
      <input id="create-user__website" class="create-user__input" type="text" placeholder="Введите веб-сайт" formControlName="website">
    </div>
    <div formGroupName="address">
      <div class="create-user__field">
        <label for="create-user__city" class="create-user__label">Город</label>
        <input id="create-user__city" class="create-user__input" type="text" placeholder="Введите город" formControlName="city">
      </div>
      <div class="create-user__field">
        <label for="create-user__street" class="create-user__label">Улица</label>
        <input id="create-user__street" class="create-user__input" type="text" placeholder="Введите улицу" formControlName="street">
      </div>
      <div class="create-user__field">
        <label for="create-user__office" class="create-user__label">Офис</label>
        <input id="create-user__office" class="create-user__input" type="text" placeholder="Введите офис" formControlName="suite">
      </div>
      <div class="create-user__field">
        <label for="create-user__index" class="create-user__label">Индекс</label>
        <input id="create-user__index" class="create-user__input" type="text" placeholder="Введите индекс" formControlName="zipcode">
      </div>
      <div formGroupName="geo">
        <div class="create-user__field">
          <label class="create-user__label">Координаты</label>
          <input class="create-user__input" type="text" placeholder="Введите широту" formControlName="lat">
          <input class="create-user__input" type="text" placeholder="Введите долготу" formControlName="lng">
        </div>
      </div>
    </div>
    <div formGroupName="company">
      <div class="create-user__field">
        <label for="create-user__company" class="create-user__label">Компания</label>
        <input id="create-user__company" class="create-user__input" type="text" placeholder="Введите компанию" formControlName="name">
      </div>
      <div class="create-user__field">
        <label for="create-user__catchphrase" class="create-user__label">Слоган</label>
        <input id="create-user__catchphrase" class="create-user__input" type="text" placeholder="Введите слоган" formControlName="catchPhrase">
      </div>
      <div class="create-user__field">
        <label for="create-user__bs" class="create-user__label">Сфера</label>
        <input id="create-user__bs" class="create-user__input" type="text" placeholder="Введите сферу деятельности" formControlName="bs">
      </div>
    </div>
    <button id="create-user-btn" type="submit" [disabled]="userForm.invalid">Создать пользователя</button>
  </form>
</div>
