@use './base/fonts';
@use './base/normalize';
@use './components/button';
@use './abstracts/mixins';
@import "primeicons/primeicons.css";

* {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --secondary-color: #1A3E3E;
  --white-color: #FFFFFF;
  --shadow-light: #FDFDFD;
  --yellow-color: #F2BE22;
  --dark-color: #18121E;
  --dark-basic-color: #18121e80;
  --background-light-color: #F3F5F4;
}

.dark-theme {
  --secondary-color: #1AFAFA;
  --white-color: #a32f2f;
  --shadow-light: #221212;
  --yellow-color: #a59f8e;
  --dark-color: #3f1669;
  --dark-basic-color: #671bb380;
  --background-light-color: #37a870;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.section-subtitle {
  color: var(--yellow-color);
  font-size: 24px;
  font-weight: 400;
}

.section-title {
  @include mixins.title;
}
