@use './base/fonts';
@use './base/normalize';
@use './components/button';
@use './abstracts/mixins';

* {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --secondary-color: #1A3E3E;
  --white-color: #FFFFFF;
  --shadow-light: #FDFDFD;
  --yellow-color: #F2BE22;
  --dark-color:#18121E;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.section-subtitle {
  color: var(--yellow-color);
  font-size: 24px;
}

.section-title {
  @include mixins.title;
}
