.header {
  background-color: #18121e80;
  color: #fff;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }
  &__logo {
    font-weight: bold;
    font-size: 22px;
  }
  &__logo-desc::before {
    content: '';
    background-image: url('/assets/img/company_logo.png');
    display: block;
    width: 138px;
    height: 29px;
    margin-bottom: 8px;
  }
  &__menu {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  &__menu-item a {
    text-decoration: none;
  }
  &__button {
    color: #1a3e3e;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
  }
  &__button:hover {
    background-color: #e5e7eb;
  }
}

.hero {
  background-image: url('/assets/img/mountains_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  &__title {
    position: absolute;
    top: 551px;
    left: 370px;
    font-size: 50px;
    font-weight: 400;
  }
  &__label {
    margin-top: 8px;
  }
  &__search {
    display: flex;
    position: absolute;
    top: 742px;
    left: 370px;
    margin-top: 41px;
    background-color: #ffffff33;
    padding: 40px 42px;
    border-radius: 12px;
    gap: 16px;
    width: 100%;
    max-width: 1180px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    &-button {
      flex: 0 0 auto;
      width: 213px;
      height: 52px;
      border-radius: 4px;
      padding: 16px 36px;
      opacity: 1;
      margin-right: 10px;
      background-color: #064e3b;
      font-size: 16px;
      font-weight: 600;
      border: none;
      color: #fff;
    }
  }
  &__field {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  &__input {
    background-color: transparent;
    backdrop-filter: blur(6px);
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 12px;
    color: #fff;
  }
}
