@use '../styles/mixins' as *;

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading__icon {
  animation: spin 1s linear infinite;
}

.header {
  background-color: #18121e80;
  color: #fff;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  &__logo {
    font-weight: bold;
    font-size: 22px;
  }

  &__logo-desc {
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__logo-desc::before {
    content: '';
    background-image: url('/assets/img/company_logo.png');
    display: block;
    width: 138px;
    height: 29px;
    margin-bottom: 8px;
  }

  &__menu {
    display: flex;
    gap: 24px;
  }

  &__button {
    color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
  }

  &__button:hover {
    background-color: #e5e7eb;
  }

  &__timer-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 18px;
    gap: 30px;
    align-items: center;
  }

  &__timer {
    font-size: 18px;
    color: var(--shdaow-light);
  }

  &__counter-btn {
    background-color: transparent;
    border: none;
    color: var(--shdaow-light);
  }

   &__counter-minus {
    margin-right: 50px;
   }

   &__counter-time {
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    color: var(--secondary-color);
   }
}

.hero {
  background-image: url('/assets/img/mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  position: relative;

  &__title {
    position: absolute;
    top: 551px;
    left: 370px;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__label {
    margin-top: 8px;
  }

  &__search {
    display: flex;
    position: absolute;
    top: 742px;
    left: 319px;
    margin-top: 41px;
    background-color: #ffffff33;
    padding: 40px 42px;
    border-radius: 12px;
    gap: 16px;
    width: 100%;

    &-button {
      padding: 16px 36px;
      margin-right: 10px;
      width: 213px;
      height: 52px;
      transition: 0.2s ease;
    }

    &-button:disabled {
      opacity: 0.4;
      cursor: not-allowed;
      filter: grayscale(30%);
    }

    &-button:not(:disabled):hover {
      transform: scale(1.02);
    }
  }

  &__field {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__input {
    background-color: transparent;
    backdrop-filter: blur(6px);
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 12px;
    color: #fff;
  }

  &__option {
    color: #18121E;
  }

  &__live-inputs {
    position: absolute;
    left: 319px;
    bottom: 15px;
    display: flex;
  }

  &__live-input {
    background-color: transparent;
    border: 2px solid #FDFDFD;
    color: #FDFDFD;
    border-radius: 8px;
    min-width: 270px;
    padding-left: 12px;
  }

  &__live-input::placeholder {
    color: #FDFDFD;
  }

  &__arrow {
    position: absolute;
    left: 254px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    background-image: url('/assets/img/arrow-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  .output {
    border: none;
    margin-left: 50px;
  }
}

.tour-overview {
  display: flex;
  padding-top: 100px;
  min-height: 526px;
  padding-bottom: 100px;

  &__video {
    flex: 0 0 50%;
    position: relative;
  }

  &__video-bg {
    position: absolute;
    z-index: 1;
  }

  &__video-overlay {
    position: absolute;
    z-index: 2;
    top: 126px;
    left: 130px;
  }

  &__video-play {
    position: absolute;
    z-index: 3;
    top: 301px;
    left: 280px;
    background-color: #FDFDFD99;
    padding: 6px;
    border-radius: 100px;
    cursor: pointer;
  }

  &__content {
    flex: 0 0 50%;
    padding-top: 60px;
  }

  &__subtitle {
    color: var(--yellow-color);
    font-size: 24px;
  }

  &__title {
    @include title;
  }

  &__text {
    color: var(--dark-color);
    font-size: 18px;
    line-height: 150%;
  }

  &__btn {
    padding: 16px 36px;
  }
}

.tour-offer-wrapper {
  background-color: #F3F5F4;
  min-height: 771px;

  .tour-offer {
    display: flex;
    padding-top: 80px;
  }

  .tour-offer__content {
    flex: 0 0 50%;
  }

  .tour-offer__subtitle {
    color: var(--yellow-color);
    font-size: 24px;
  }

  .tour-offer__title {
    @include title;
  }

  .tour-offer__text {
    color: var(--dark-color);
    font-size: 18px;
    line-height: 150%;
  }

  .tour-offer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  .tour-offer__item {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .tour-offer__item:hover {
    border: 3px var(--secondary-color) solid;
    cursor: pointer;
  }

  .tour-offer__icon {
    width: 50px;
    height: 50px;
    padding: 4px 14px;
  }

  .tour-offer__icon--guide-icon {
    background: #E5EEEB;
  }

  .tour-offer__icon--safe-icon {
    background: #E3E6EE;
  }

  .tour-offer__icon--label-icon {
    background: #F3F1E1;
  }

  .tour-offer__btn {
    padding: 16px 36px;
  }

  .tour-offer__media {
    flex: 0 0 50%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}
