@use '../styles/abstracts/mixins' as *;

.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading__icon {
  animation: spin 1s linear infinite;
}
