.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 40px;
  background: #F3F5F4;
  gap: 70px;
  color: #1D3939;
}

.users__title {
  background: #F3F5F4;
  margin: 0;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 48px;
  font-weight: 800;
}
