<h2 class="users__title">Список Пользователей</h2>
<div class="users">
  <app-user-create (createUser)="onCreateUser($event)"></app-user-create>
  <app-users-filter (filterChange)="onFilterChange($event)"></app-users-filter>
<p>
  {{ ((users$ | async)?.length ?? 0) }}
  {{ ((users$ | async)?.length ?? 0) | plural:'пользователь':'пользователя':'пользователей' }}
</p>  
@for (user of filterUsers$ | async; track user.id) {
    <app-user-card [user]="user" (deleteUser)="deleteUser($event)"></app-user-card>
  } @empty {
    <span class="empty-state">
      Пользователи не найдены
    </span>
    }
</div>
